aside {
  color: #514f4f;
  width: 250px;
  padding-left: 20px;
  height: 100vh;
  background: #f9ece6;
  border-top-right-radius: 80px;
}

aside a {
  font: 18px poppins;
  color: #514f4f;
  display: block;
  padding: 12px;
  padding-left: 30px;
  text-decoration: none;
  -webkit-tap-highlight-color:transparent;
}

aside a:hover {
  color: #514f4f;
  background: #fff;
  outline: none;
  position: relative;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

aside a i {
  margin-right: 5px;
}

aside a:hover::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 100%;
  right: 0;
  height: 35px;
  width: 35px;
  border-bottom-right-radius: 18px;
  box-shadow: 0 20px 0 0 #fff;
}

aside a:hover::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 38px;
  right: 0;
  height: 35px;
  width: 35px;
  border-top-right-radius: 18px;
  box-shadow: 0 -20px 0 0 #fff;
}

aside p {
  margin: 0;
  padding: 40px 0;
}

body {
  font-family: poppins ;
  width: 100%;
  height: 100vh;
  margin: 0;
}



.container-fluid {
      display: flex;
      width: 100%;
      padding: 0;
      margin: 0;
    }

    .sidebar-content {
      display: flex;
      width: 100%;
      flex: 1;
    }

    #sidebar {
      color: #514f4f;
      width: 23rem; /* Fixed width for sidebar */
      background: #f9ece6;
      border-right: 1px solid #dee2e6; /* Border for separation */
       /* Padding inside sidebar */
      overflow-y: auto; /* Scroll if content is too tall */
    }

    #additional-content {
      flex: 1; /* Take up the remaining space */
      padding: 1rem; /* Padding for additional content */
    }

    /* Responsive styling */
    @media (max-width: 999px) {
      .sidebar-content {
        flex-direction: column;
      }

      #sidebar {
        width: 100%; /* Full width on small screens */
        border-right: none; /* Remove border on small screens */
      }

      #additional-content {
        width: 100%; /* Full width on small screens */
      }
    }