{% extends "shop/base.html" %} {% load static %} {% block a %}

<section class="Categories_section">
  <div class="heading_container">
    <style>
      @media (min-width: 999px) {
          .h-custom {
          height: 100vh !important;
          }
          }
          
          .item-scrollable-container {
              max-height: 500px;
              overflow-y: auto;  /* Enables vertical scrolling */
              overflow-x: hidden;  /* Enables vertical scrolling */
              padding: 10px; /* Optional: Adds padding inside the container */ }
              
          .credit-scrollable-container {
              max-height: 600px;
              overflow-y :auto;  /* Enables vertical scrolling */
              padding: 10px; /* Optional: Adds padding inside the container */ }

    </style>

    <section class="h-custom">
      <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-start" >
          <div class="col-lg-7"  ">
            <div class="card">
              <div class="card-body p-4 scrollable-container"  ">
                <div>
                  <h5 class="mb-3">
                    <a href="{%url 'shop'%}" class=""
                      ><i class="fas fa-long-arrow-alt-left me-2"></i>Continue
                      shopping</a
                    >
                  </h5>
                  <hr />
                  
                  <div class="item-scrollable-container">
                    <!-- Repeatable Item Card -->
                  {% for cart in carts %}
                  <div class="row">
                    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                      <!-- Image -->
                      <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                        <img src="{{cart.product.product_image.url}}"
                          class="w-100" herf ="#" alt="Image" />
                        <a href="#">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                        </a>
                      </div>
                      <!-- Image -->
                    </div>
      
                    <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                      <!-- Data -->
                      <p><strong>{{cart.product.title}}</strong></p>
                      <p>Brand: {{cart.product.brand}}</p>
                      <p>Varient: Not Applied</p>
                      <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-sm me-1 mb-2" data-mdb-tooltip-init
                        title="Remove item">
                       
                        <i class="fa fa-trash-o" aria-hidden="true"></i>

<!-- 
                      </button>
                      <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger btn-sm mb-2" data-mdb-tooltip-init
                        title="Move to the wish list">
                        <i class="fas fa-heart"></i>
                      </button> -->
                      <!-- Data -->
                    </div>
      
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                      <!-- Quantity -->
                     <span for = "form1" style=" display: flex; justify-content: center;"> Quantity </span>
                      
                     <div class="d-flex mb-4" style="max-width: 300px">
                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary px-3 me-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                          <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
      
                        <div data-mdb-input-init class="form-outline">
                          <input id="form1" min="0" name="quantity" value="{{cart.quantity}}" type="number" class="form-control" />
                          <!-- <label class="form-label" for="form1">Quantity</label> -->
                        </div>
                          
                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary px-3 ms-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                        
                        
                      </div>
                
                      <!-- Quantity -->
      
                      <!-- Price -->
                      <p class="text-start text-md-center">
                        <strong> ₹{{cart.product.list_price}}</strong>
                      </p>
                      <!-- Price -->
                    </div>
                  </div>  
                  <br>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Add more credit cards as needed -->

      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Summary</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Total Number of Items :
                <span>{{total_number_of_items}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Shipping :
                <span>{{shipping_amount}}</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Total amount :</strong>
                  <strong>
                    <p class="mb-0">(including TAX) </p>
                  </strong>
                </div>
                <span><strong>₹{{total_amount}}</strong></span>
              </li>
            </ul>

            <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block">
              Go to checkout
            </button>
          </div>
        </div>
      </div>
        </div>
      </div>
    </section>
  
    {% endblock a %}
  </div>
</section>
