{% extends "shop/base.html" %} {% load static %} {% block a %}

<section class="Categories_section layout_padding">
  <div class="heading_container heading_center" style="min-height: 300px;">
    <h2>OOP'S !</h2>
    <br />
    <h3>
      Looks You Didn't Added Anything To Your Cart !
      <br />
      <img src="{% static 'images\empty cart 1.jpg' %}" alt="">
      Want To Shop ? <a href= "{% url 'shop' %}" style = "color : purple;" >  click to View All Products :)</a>
    </h3>
  </div>
</section>
{% endblock a %}
