<section class="info_section layout_padding2-top">
    <links class="text-center bg-body-tertiary ">
     
          <div class="social_container">
            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        
    </links>
    <!-- Footer -->
    <footer class="bg-body-tertiary text-center">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase info_form">About Us

            </h5>
  
            <p>
                Welcome to PrimeWorld, your premier destination for high-quality products from around the globe. Our mission is to provide an exceptional shopping experience by offering a curated selection of premium items that meet the highest standards of quality and excellence.
            </p>
            <div class="info_form">
              <h5>Newsletter</h5>
              <form action="#">
                <input type="email" placeholder="Enter your email" />
                <button>Subscribe</button>
              </form>
            </div>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" >Link 1</a>
              </li>
              <li>
                <a href="#!" >Link 2</a>
              </li>
              <li>
                <a href="#!" >Link 3</a>
              </li>
              <li>
                <a href="#!" >Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <style>
                    a{ color: whitesmoke;}
                </style>
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" >Link 1</a>
              </li>
              <li>
                <a href="#!" >Link 2</a>
              </li>
              <li>
                <a href="#!" >Link 3</a>
              </li>
              <li>
                <a href="#!" >Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" >
        © 2024 All Rights Reserved By PrimeWorld.com
       
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>