<div id="additional-content">
  <div style="padding-left: 3rem">
    <section class="shop_section ">
      <div class="container">                
        <!-- {% if request.path == '/cpage/' %}
            <div class="container">
              <div class="heading_container heading_center">
                <h2>
                   Our Products
                   
                </h2>
              </div>
              <div class="row ">
                {% for p in AllProducts %}
                
                <div class="col-sm-6 col-md-4 col-lg-3 ">
                  <div class="box">
                    <a href="{% url 'ppage' p.id %}">
                      <div class="img-box">
                        <img src="{{p.product_image.url}}" alt="" />
                      </div>
                      <div class="detail-box">
                        <h6>{{p.title}}</h6>
                        <h6>
                          {% comment %} Price {% endcomment %}
                          <span> ₹{{p.list_price}} </span>
                        </h6>
                      </div>
                      <div class="new">
                        <span> New </span>
                      </div>
                    </a>
                  </div>
                </div>
                {% endfor %}
              </div>
              
            {% else %} -->
        
              {% comment %} products fetching{% endcomment %}
              <div class="heading_container heading_center">
                <h2 >{{category_name_data}}</h2>
              </div>
              <div class="row ">
                {% for p in products %}
                
                <div class="col-sm-6 col-md-4 col-lg-3 ">
                  <div class="box">
                    <a href="{% url 'ppage' p.id %}">
                      <div class="img-box">
                        <img src="{{p.product_image.url}}" alt="" />
                      </div>
                      <div class="detail-box">
                        <h6>{{p.title}}</h6>
                        <h6>
                          {% comment %} Price {% endcomment %}
                          <span> ₹{{p.list_price}} </span>
                        </h6>
                      </div>
                      <div class="new">
                        <span> New </span>
                      </div>
                    </a>
                  </div>
                </div>
                {% endfor %}
              </div>

              <!-- {% endif %} -->
          <!-- end shop section -->
        <!-- <div class="row ">
          {% for p in category_products %}
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box">
              <a href="{% url 'ppage' p.id %}">
                <div class="img-box">
                  <img src="{{p.product_image.url}}" alt="" />
                </div>
                <div class="detail-box">
                  <h6>{{p.title}}</h6>
                  <h6>
                    {% comment %} Price {% endcomment %}
                    <span> ₹{{p.list_price}} </span>
                  </h6>
                </div>
                <div class="new">
                  <span> New </span>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div> -->                
      </div>
    </section>
  </div>
</div>